*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body{
    background-color: #FFF;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1px;    
}

.wrapper{
    height: 100vh;
}

.container{
    margin: 0 auto;
    min-height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
}

.column{
    flex-grow: 1;
    width: 50%;
}

.left{
    height: 100vh;
    width: 100%;
    background-color: #FFF;
    color: black;
    
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
}   

.sign-up{
    width: 444px;
}

.sign-up h1{
    font-weight: 700;
    font-size: 42px;
}

.sign-up form{
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="password"], input[type="email"]{
    background-color: #FFF;
    border: 1px solid black;
    border-radius: 4px;
    
    margin-top: 25px;
    
    width: 444px;
    height: 49px;
    
    font-size: 16px;
}

input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder{
    color: black;
    padding-left: 20px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;    
}

.check{
    margin-top: 25px;
    display: flex;
    align-items: center;
}

input[type="checkbox"]{
    opacity: 1;
    cursor: pointer;
    height: 21px;
    width: 21px;
    margin-right: 14px;
}

input[type="submit"]{
    background-color: #0056FB;
    width: 444px;
    height: 49px;
    margin-top: 25px;
    
    border: 0;
    border-radius: 4px;
    
    cursor: pointer;
    
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;    
}

form img{
    width: 92px;
    height: 57px;
    opacity: 0.4;

    margin-top: -23px;
    margin-right: -45px;
}

.btn-form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.infobox p{
    font-size: 16px;
}

.infobox a{
    text-decoration: none;
    color: black;
}

.infobox span{
    font-weight: 700;
}
/* Fim Left */

/* Right */
.right{
    height: 100vh;
    width: 100%;
    background-color: #0056FB;
    color: #FFF;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right img{
    width: 628;
    height: 421;
}

.text h2{
    margin-top: 36px;

    justify-self: center;
    
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
}

.text p{
    width: 438px;
    margin-top: 21px;

    line-height: 150%;
    font-size: 18px;
    font-weight: 400;
}
/* Fim Right */